<!-- Model Driven Form (Reativo) -->

<h1 class='page-header'>Detalhes da Tarefa: {{task?.id}}</h1>

<form [formGroup]="reactiveTaskForm">
  
  <div class="row">
    <div class="form-group col-md-6">
      <label for="title" class="control-label">Título:</label>
      <input type="text" formControlName='title' id="title" class="form-control" [ngClass]="fieldClassError('title')">
      <div *ngIf="reactiveTaskForm.get('title').invalid && (reactiveTaskForm.get('title').touched || reactiveTaskForm.get('title').dirty)" class="text-danger" style="font-size: 12px;">
        <div *ngIf="reactiveTaskForm.get('title').errors.required">o título é obrigatório</div>
        <div *ngIf="reactiveTaskForm.get('title').errors.minlength">o título deve conter no mínimo 10 caracteres</div>
        <div *ngIf="reactiveTaskForm.get('title').errors.maxlength">o título deve conter no máximo 50 caracteres</div>
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="deadline" class="control-label">Prazo de entrega</label>
      <input type="text" formControlName='deadline' id="deadline" class="form-control" [ngClass]="fieldClassError('deadline')">
    </div>

    <div class="form-group col-md-3">
      <label for="done" class="control-label">Situação da entrega</label>
      <select class="form-control" id="done" formControlName="done" [ngClass]="fieldClassError('done')">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="control-label">Descrição</label>
      <textarea class="form-control" id="description" formControlName="description" rows="4"></textarea>
    </div>
  </div>
  
  <div class="row" formGroupName="user">
    <div class="form-group col-md-6">
      <label for="name" class="control-label">Nome do usuário:</label>
      <input type="text" formControlName="name" id="name" class="form-control" [ngClass]="fieldClassError('user.name')">
      <div *ngIf="reactiveTaskForm.get('user.name').invalid && (reactiveTaskForm.get('user.name').touched || reactiveTaskForm.get('user.name').dirty)" class="text-danger" style="font-size: 12px;">
        <div *ngIf="reactiveTaskForm.get('user.name').errors.required">o nome é obrigatório</div>
        <div *ngIf="reactiveTaskForm.get('user.name').errors.minlength">o nome deve conter no mínimo 10 caracteres</div>
        <div *ngIf="reactiveTaskForm.get('user.name').errors.maxlength">o nome deve conter no máximo 50 caracteres</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="email" class="control-label">Email do usuário:</label>
      <input type="email" formControlName='email' id="email" class="form-control" [ngClass]="fieldClassError('user.email')">
      <div *ngIf="reactiveTaskForm.get('user.email').invalid && (reactiveTaskForm.get('user.email').touched || reactiveTaskForm.get('user.email').dirty)" class="text-danger" style="font-size: 12px;">
        <div *ngIf="reactiveTaskForm.get('user.email').errors.email">o email está incorreto</div>
      </div>
    </div>
  </div>

  <button [disabled]="reactiveTaskForm.invalid" type="submit" class="btn btn-success" (click)="updateTask(reactiveTaskForm.value)">Atualizar</button>
  <button class="btn btn-info" type="button" (click)="goBack()" style="margin: 5px;">Voltar</button>

</form>


<!-- Template Driven Form -->

<!-- <form #taskForm="ngForm">
  <div class="row">

    <div class="form-group col-md-6">
      <label for="title" class="control-label">Título:</label>
      <input #title="ngModel" [(ngModel)]="task.title" class="form-control" type="text" name="title" id="title" required [class.is-invalid]="title.invalid && (title.touched || title.dirty)" [class.is-valid]="title.valid && (title.touched || title.dirty)" minlength="10" maxlength="50">
      <div *ngIf="title.invalid && (title.touched || title.dirty)" class="text-danger" style="font-size: 12px;">
        <div *ngIf="title.errors.required">o título é obrigatório</div>
        <div *ngIf="title.errors.minlength">o título deve conter no mínimo 10 caracteres</div>
        <div *ngIf="title.errors.maxlength">o título deve conter no máximo 50 caracteres</div>
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="deadline" class="control-label">Prazo de entrega:</label>
      <input #deadline="ngModel" [(ngModel)]="task.deadline" class="form-control"  name="deadline" id="deadline" required [class.is-invalid]="deadline.invalid && (deadline.touched || deadline.dirty)" [class.is-valid]="deadline.valid && (deadline.touched || deadline.dirty)">
      <div *ngIf="deadline.invalid && (deadline.touched || deadline.dirty)" class="text-danger" style="font-size: 12px;">
        <div *ngIf="deadline.errors.required">o prazo da tarefa é obrigatório</div>
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="done" class="control-label">Situação:</label>
      <select #done="ngModel" [(ngModel)]="task.done" class="form-control" name="done" id="done" required [class.is-invalid]="done.invalid && (done.touched || done.dirty)" [class.is-valid]="done.valid && (done.touched || done.dirty)">
        <option selected disabled value="">Escolha um item:</option>
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
      <div *ngIf="done.invalid && (done.touched || done.dirty)" class="text-danger" style="font-size: 12px;">
        <div *ngIf="done.errors.required">escolha uma Situação</div>
      </div>
    </div>
        
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="control-label">Descrição datalhada:</label>
      <textarea #description="ngModel" [(ngModel)]="task.description" class="form-control" name="description" id="description" rows="4" placeholder="detalhe aqui sua tarefa..."></textarea> <!-- Não obrigatório -->
<!-- </div>
</div>

<button [disabled]="taskForm.invalid" type="submit" class="btn btn-success" (click)="updateTask()">Atualizar</button>
<button class="btn btn-info" (click)="goBack()" style="margin: 5px;">Voltar</button>

</form> -->
